.box{
    padding: 20px;
    display: block;
    margin: 20px 130px;
}
.box h2{
    font-size: 40px;
    color: blue;
}
.box h4{
    margin: 10px;
    font-size: 20px;
}
.box button{
    padding: 10px;
    background-color: orange;
    color: black;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
}